html,body { overflow-x: hidden; width: 100%; overflow-y:auto; min-width:800px; position: relative; color: #000; height: 100%; overflow: hidden; background-color: #bdd2c3; }
* { margin:0; padding:0; border:0; outline:0; vertical-align:baseline; list-style: none;}
ul,ol{list-style:none;}
.geral { background-image: url(../img/bg.jpg); background-size: cover; background-position: center right; height: 100%; display: none;  perspective: 1500px;}

.logos { position: absolute; right: 5%; top: 50%; width: 13%; margin-top: -15%; }
/*.logo     { position: absolute; z-index: 1; width: 18%; height: 100px;   }*/
.logo     { position: relative; z-index: 1; width: 100%;    }
.logo img { position: relative; z-index: 1; width: 100%;     padding-bottom: 25%; }
/*.logo1, .logo3 { right: 75%; }
.logo2, .logo4 { left:  74%; }	
.logo1, .logo2 { top: 17%; }
.logo3, .logo4 { bottom: 17%; } */
.loading { width: 120px; position: fixed; top: 50%; left: 50%; margin-left:-60px; margin-top: -60px;  }

.big_logo { position: absolute; top: 40%; left: 32%; width: 43%; }
.logo,.big_logo,.logo img {  
  -webkit-transition: all 1000ms  ease;
  	 -moz-transition: all 1000ms  ease;
 	   -o-transition: all 1000ms  ease;
 		  transition: all 1000ms  ease;	 } 
.big_logo { -webkit-transition-delay: 0.5s; transition-delay: 0.5s;  } 
.logo1    { -webkit-transition-delay:   1s; transition-delay:   1s;  }
.logo2    { -webkit-transition-delay: 1.1s; transition-delay: 1.3s;  }
.logo3    { -webkit-transition-delay: 1.2s; transition-delay: 1.6s;  }
.logo4    { -webkit-transition-delay: 1.2s; transition-delay: 1.9s;  }

.logos .logo.no-delay { -webkit-transition-delay: 0s!important; transition-delay: 0s!important; }

.hide { opacity: 0;  }

 
.logo img:hover {  
	opacity: 0.8;
	  -webkit-transform: scale(1.2); 
	  -moz-transform:    scale(1.2);
	  -ms-transform:     scale(1.2);
	  -o-transform:      scale(1.2);
	  transform:         scale(1.2);
 }  

/*.centro  { width: 45%; position: absolute; padding-bottom: 46.3%; left: 27.5%; height: 0px; top: 50%; margin-top: -23.4%; }*/
.centro  { width: 35%; position: absolute; padding-bottom: 36.1%; left: 5%; height: 0px; top: 50%; margin-top: -18%;}
.centro  img  { position: absolute; z-index: 11; }
.centro .img1 { right: 0; top: 0; height: 49%; 
			    -webkit-transform-origin:  34% 95%;
			      -moz-transform-origin:   34% 95%;
			            transform-origin:  34% 95%; 
			   }
.centro .img2 { left: 0; top:0; width: 50%; margin-top: 1%; margin-left: 1%;
				-webkit-transform-origin:  97.5% 64.2%;
				   -moz-transform-origin:  97.5% 64.2%;
				         transform-origin: 97.5% 64.2%; 
			  }
.centro .img3 { bottom:0; left: 0; height: 50%; margin-left: 1%;
				-webkit-transform-origin: 48% -0.5%;
				   -moz-transform-origin: 48% -0.5%;
				        transform-origin: 48% -0.5%;
				        
			  }

.centro, .centro * { 
  -webkit-transition: all 1800ms  ease;
  	 -moz-transition: all 1800ms  ease;
 	   -o-transition: all 1800ms  ease;
 		  transition: all 1800ms  ease;	

}
.centro.rotate {
	opacity: 0;
	-webkit-transform: rotate(90deg); 
		-ms-transform: rotate(90deg);
		    transform: rotate(90deg);
		    -webkit-transform:scale(2.8); /* prefixo para browsers webkit */
			   -moz-transform:scale(2.8); /* prefixo para browsers gecko */
			     -o-transform:scale(2.8); /* prefixo para opera */
		       	    transform:scale(2.8); 
}
.img1.rotate { 
	-webkit-transform: rotate(90deg); 
		-ms-transform: rotate(90deg);
		    transform: rotate(90deg);
	}
.img2.rotate { 
	-webkit-transform: rotate(180deg); 
		-ms-transform: rotate(180deg);
		    transform: rotate(180deg);
		    
	}
.img3.rotate { 
	-webkit-transform: rotate(270deg); 
		-ms-transform: rotate(270deg);
		    transform: rotate(270deg);
	}		

/*RESPONSIVO*/
body.responsivo .centro { margin-top: 100px;  top: 0px; }	
body.responsivo .big_logo { top: 0; margin-top: 181px; width: 60%; left: 35%; }
body.responsivo .logos { top: 0; width: 33%; position: relative;  margin-top: 356px; float: right; }
body.responsivo .geral { overflow: auto; }